.plan-wrap{
    text-align: center;
}
.each-plan{
    margin-top: 10px;
    margin-right: 10px;
    border: 2px solid #21b842;
    border-radius: 8px;
    padding: 15px;
    background-color: #a0e8b3;
    display: inline-block;
    width: 30%;
    text-align: center;
}

.each-plan:hover,
.each-plan:active{
    box-shadow: 4px 4px 4px rgba(7, 104, 23, 0.781);
    border-color:#082f1093;
    border-width: 6px;

}

.each-plan a{
    text-decoration: none;
    font-family: 'Goldman', cursive;
    
    
}

.each-plan__title{
    padding: 8px 0px;
    font-weight: bold;
    font-size: 30px;
    color: black;
    
}

.each-plan__desc{
    padding: 15px 0px;
    color: gray;

}

.each-plan__box{
    padding: 8px 0px;
    border: 1px solid green;
    padding: 10px;
    font-size: 20px;
    color: black;
    background-color: white;
}

.each-plan.free{
    background-color:  #a0e8b3;
} 

.each-plan.plus{
    background-color: #78de93;
}
.each-plan.premium{
    background-color: #41e66df8;
}