* {
    box-sizing: border-box;
    margin: 0;
}
html {
    width: 100%;
}
body {
    width: 100%
}

.main-header {
    padding: 10px;
    background-color: #e57373;
    width: 100%;
}
.main-header__brand {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 50px;
}
.main-nav__item {
    display: inline-block;
    padding: 20px;


}

.main-nav__item a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    padding: 16px 0;
}
.main-nav__item a:hover,
.main-nav__item a:active {
    color: wheat;
    border-bottom: 2px solid wheat;
    
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;

}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}
.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 140px);
    vertical-align: middle;
}
