*{
    box-sizing: border-box;
    margin: 0px;
}
html{
    width: 100%;
}
body {
    width: 100%
}

.main-header {
    padding: 10px;
    background-color: #e57373;
    width: 100%;
}
.main-nav__item{
    display: inline-block;
    padding: 20px;
}